@font-face {
  font-family: 'Open Sans';
  src: url('./Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amatic SC';
  src: url('./Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}

/*@media only screen
and (min-width : 1224px) {
}*/

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  width: 100%;
  opacity: 1;
  border-bottom: 2px solid #1f3f00;
}

video {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.navopacity {
  opacity: 0.8;
}

.text {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.title {
  float: left;
  width: 400px;
  font-weight: bold;
  color: #9BA63C;
  font-family: "Open Sans";
  font-size: 28px;
  margin-left: 30px;
  float: left;
  padding: 0.5px 0px 0.5px 10px;
}

.title h1 {
  margin: 0
}

.content {
  width: 75%;
  margin: 0 auto !important;
  max-width: 1000px;
}

.intro_image {
  font-size: 100px;
  margin-bottom: 0px;
  margin-right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 500px;
  background-position: center;
  position: relative;
  padding-top: 100px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  top: 0;
  z-index: 3;
}

.SFD {
  font-size: 70px;
  color: #FFFFFF;
  font-family: 'Amatic SC';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  z-index: 99;
}

.menu>li {
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  color: #1f3f00;
  background-color: inherit;
}

.menu {
  font-size: 16px;
  padding: -40px 5px 5px 5px;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

li {
  float: right;
}

li a {
  text-decoration: none;
  display: block;
  padding: -40px 20px 5px 20px;
  background-color: inherit;
}

.menu>li>a {
  color: #1f3f00;
  padding: 4px 20px 5px 2px;
  font-size: 19px;
}

.menu>li>a.active {
  color: #CB7458;
}

sup {
  vertical-align: super;
  font-size: 18px;
}

.section {
  height: auto;
  padding: 50px 0;
  margin: 50px 0;
}

.section .col-2 {
  display: flex;
}

.section .col-2 .img-block img {
  width: 100%;
  max-width: 700px;
}

.section .col-2 .img-block.left {
  margin-right: 32px
}

.section .col-2 .img-block.right {
  margin-left: 32px
}

.section .white {
  color: #fff;
}

.full-width img {
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.section p {
  margin: 0 auto;
  width: 90%;
  line-height: 1.7;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section.contact p {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.section.contact h3 {
  width: 100%;
  text-align: center;
}

.section iframe {
  width: 100%;
  height: 500px;
  background-color: #d5d5d5
}

.price-gen {
  display: flex;
  height: 400px;
  margin: 64px 0;
}

.price-gen h2 {
  font-family: 'Amatic SC';
  font-size: 50px;
  color: #CB7458;
}

.price-gen .persons,
.price-gen .price,
.price-gen .vol {
  width: 100%;
  height: 300px;
  color: #9BA63C;
}

.price-gen .up,
.price-gen .down {
  text-align: center;
  font-size: 21px;
}

.price-gen .persons h2,
.price-gen .price h2,
.price-gen .vol h2 {
  text-align: center;
  margin-top: 0;
}

.price-gen .persons .counter,
.price-gen .price .price-res,
.price-gen .vol .vol-res {
  text-align: center;
  font-size: 100px;
}

.price-gen .price .price-res,
.price-gen .vol .vol-res {
  padding: 28px 0;
}

.valueProposition p {
  line-height: 1.7;
  font-size: 19px;
  font-family: "Open Sans";
  margin: 0 auto;
  width: 70%;
  font-weight: bold;
  color: #9BA63C;
  text-align: center;
}

.Trailer {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 200px;
  margin-right: 0px;
  margin-left: 0px;
}

.heading {
  font-size: 65px;
  font-family: 'Amatic SC';
  color: #CB7458;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.heading.continue {
  font-size: 50px;
  color: #9BA63C;
}

.heading.continue a {
  border-bottom: 3px solid #9BA63C;
  color: #9BA63C;
}

.sectionHeading {
  font-size: 65px;
  font-family: 'Amatic SC';
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  z-index: 9;
}

.bio {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  padding-top: 60px;
}

.usp {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.usp .block {
  height: auto;
  display: flex;
  flex-direction: column;
}

.usp .block .feat-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

.usp .block .feat-img img {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.usp .block p.usp-title {
  font-weight: 700;
  color: #1f3f00;
  font-size: 19px;
  margin-bottom: 8px
}

.usp .block p {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.material img {
  width: 250px;
  height: 250px;
  margin: 64px 0
}

.Alleinstellungsmerkmale p {
  line-height: 35px;
  font-family: 'Open Sans';
  margin: 0 auto;
  width: 850px;
  color: black;
  text-align: inherit;
}

.Was_bedeutet_Regional_f端r_Fresa p {
  line-height: 35px;
  font-family: 'Open Sans';
  margin: 0 auto;
  width: 850px;
  height: 300px;
  color: black;
  text-align: inherit;
}

.overlay3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  top: 0;
}

.WarumBio_image {
  margin-top: .0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-image: url("./Pics/warumbio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 650px;
  background-position: center;
  position: relative;
}

.warumBio {
  line-height: 35px;
  font-family: 'Open Sans';
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  color: white;
  text-align: center;
  z-index: 3;
}

#slideshow {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#slideshow>img {
  width: 1920px;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.Verbraucher {
  color: #CB7458;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-top: 60px;
}

.Verbraucher_image {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  max-width: 400px;
  display: block;
  height: 400px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 22%;
}

.Wer_nutzt_Fresa {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  text-align: inherit;
}

.Vertrauen {
  color: #CB7458;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  padding-top: -40px;
  margin-bottom: 80px;
}

.VertrauenText {
  line-height: 35px;
  font-family: 'Open Sans';
  color: WH;
  text-align: inherit;
}

.Fresa_Design {
  color: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  padding-top: 60px;
}

.sectionHeader {
  font-size: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 100%;
  background-position: center;
  position: relative;
}

.sectionHeader.unternehmen {
  background-image: url("./Pics/brainstorming.jpg");
}

.sectionHeader.bio {
  background-image: url("./Pics/warumbio.jpg");
}

.sectionHeader.produkt {
  background-image: url("./Pics/material.jpg");
}

.overlay4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.Was_macht_Fresa {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 60px;
  text-decoration: none;
  position: relative;
  color: white;
  text-align: center;
  z-index: 3;
}

.FresaBestandteile {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  padding-top: 70px;
  margin-right: 0%;
  margin-left: 0%;
}

.part-block {
  display: flex;
}

.part {
  width: 50%;
  height: 100%;
}

.Fresa-Konzept {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 350px;
  margin-left: 80px;
  margin-top: 0px;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 20px;
}

.part-title {
  font-family: 'Amatic SC';
  font-size: 50px;
  color: #CB7458;
}

.FresaMikrodepot {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 500px;
  margin-top: -70px;
}

.FresaMikrodepot_image {
  font-size: 25px;
  background-image: url("./Pics/FresaMikrodepot.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
  background-position: center;
  position: relative;
  float: left;
  margin-left: 12%;
  margin-top: -5%;
  padding: 0px 0px 0px 0px;
}

.Fresa-Mikrodepot {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 310px;
  margin-top: 0px;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 20px;
}

.Fresa-Vermarktungsprinzip {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
  margin-top: 5px;
  margin-left: -130px;
  margin-bottom: 5px;
}

.Vermarktungsprinzip {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 122px;
  margin-top: -40px;
}

.Fresa-KrummesGem端se {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;
}

.KrummesGem端se {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 245px;
  margin-top: -90px;
}

.Fresa-WasGibtEsInDerRegion {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;
}

.WasGibtEsInDerRegion {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 245px;
  margin-top: -90px;
}

.Tine {
  font-size: 65px;
  font-family: 'Amatic SC';
  color: #CB7458;
  text-align: center;
  margin-bottom: 80px;
}

.tineText {
  line-height: 35px;
  font-family: 'Open Sans';
  text-align: inherit;
  margin-bottom: -40px;
}

.Unsere_Materialien {
  color: white;
  position: relative;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%)
}

.Materialstudie_image {
  font-size: 25px;
  margin-top: 200px;
  padding-bottom: 50px;
  background-image: url("./Pics/material.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 400px;
  background-position: center;
  position: relative;
}

.overlay5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.Materialien {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 60px;
  text-decoration: none;
  position: relative;
  color: white;
  text-align: center;
  z-index: 3;
}

.Material_image1 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  max-width: 400px;
  display: block;
  height: 300px;
  background-position: center;
  position: relative;
  float: left;
  margin-left: 15%;
  margin-top: 200px;
}

.Material_image2 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  max-width: 400px;
  display: block;
  height: 300px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 15%;
  margin-top: 200px;
}

.Pricing {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 550px;
  padding-top: -40px;
  margin-bottom: 0px;
}

.Pricing_image {
  font-size: 25px;
  background-image: url("./Pics/comp/aubergines-bio-cabbage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  display: block;
  height: 700px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 20%;
  margin-top: 80px;
}

.Technik {
  color: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  padding-top: 60px;
}

.Technik_image {
  font-size: 25px;
  margin-top: 1000px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 50px;
  background-image: url("./Pics/Technik.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: auto;
  background-position: center;
  position: relative;
}

.overlay6 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.SoFunktionierts {
  line-height: 35px;
  font-family: 'Open Sans';
  position: relative;
  color: white;
  text-align: center;
  z-index: 3;
}

.WorksLike {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 150px;
  padding-top: -40px;
  margin-bottom: 0px;
}

.TechnikVideo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: 0px;
  margin-left: 0px;
}

.Looks_like {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  padding-top: -40px;
  margin-bottom: 80px;
}

.LooksLike {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  text-align: inherit;
}

.Lookslike_image1 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  display: block;
  height: 250px;
  background-position: center;
  position: relative;
  float: left;
  margin-left: 10%;
  margin-top: 100px;
}

.Lookslike_image2 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  display: block;
  height: 250px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 38%;
  margin-top: 100px;
}

.Lookslike_image3 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  display: block;
  height: 250px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 11%;
  margin-top: -250px;
}

.Team {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 550px;
  padding-top: -40px;
  margin-bottom: 80px;
}

.Kontakt {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 270px;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 9px;
  text-align: center;
  z-index: 3;
}

/*F端hrt zu einem Zeilenumbruch, sodass Name und Mail in verschiedenen Zeilen sind.*/

div {
  word-wrap: break-word;
}

/* macht die Teambilder in eine Reihe*/

.column {
  width: 100%;
  padding: 10px;
}

.section.contact .column {
  max-width: 200px;
}

/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.ZitateQuellen {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 200px;
  padding-top: 0px;
  margin-bottom: 80px;
}

.Zitate-Quellen {
  line-break: strict;
  line-height: 25px;
  font-family: 'Open Sans';
  color: black;
  font-size: 15px;
  text-align: inherit;
  margin-left: 245px;
  margin-right: 300px;
  margin-top: -20px;
}

p {
  size: 12px;
}
