@font-face {
  font-family: 'Open Sans';
  src: url('./Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amatic SC';
  src: url('./Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}

/*@media only screen
and (min-width : 1224px) {
}*/

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  width: 100%;
  opacity: 1;
  box-shadow: 2px 3px;
}

.navopacity {
  opacity: 0.8;
}

.title {
  float: left;
  width: 400px;
  font-weight: bold;
  color: #9BA63C;
  font-family: "Open Sans";
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 30px;
  float: left;
  padding: 0.5px 0px 0.5px 10px;
}

.title h1 {
  margin: 0
}

.intro_image {
  font-size: 100px;
  margin-bottom: 0px;
  margin-right: 0px;
  background-image: url("./Pics/DSC_2649.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 650px;
  background-position: center;
  position: relative;
  padding-top: 100px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  top: 0;

}

.SFD {
  font-size: 70px;
  color: #FFFFFF;
  font-family: 'Amatic SC';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-shadow: 10px;
  font-weight: bold;
}

.menu>li {
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  color: #1f3f00;
  background-color: inherit;

}

.menu {
  font-size: 16px;
  padding: -40px 5px 5px 5px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 3%;
  margin-left: 0px;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: inherit;

}

li {
  float: right;
  font-size: bold;
}

li a {
  text-decoration: none;
  display: block;
  padding: -40px 20px 5px 20px;
  background-color: inherit;
}

.menu>li>a {
  color: #1f3f00;
  padding: 4px 20px 5px 2px;
}

/* fixed header Versuch

.sticky {
  position: fixed;
  top: 0;
  width: 100%
  padding-top: 102px;
}
*/

sup {
  vertical-align: super;
  font-size: 18px;
}

.section {
  height: auto;
  padding: 50px 0;
  margin: 50px 0;
}

.section p {
  margin: 0 auto;
  width: 60%;
}

.valueProposition p {
  line-height: 50px;
  font-family: "Open Sans";
  font-size: 20px;
  margin: 0 auto;
  width: 70%;
  font-weight: bold;
  color: #9BA63C;
  text-align: center;
}

.Trailer {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 200px;
  margin-right: 0px;
  margin-left: 0px;
}

.Kapitelüberschrift {
  font-size: 65px;
  font-family: 'Amatic SC';
  color: #CB7458;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.bio {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  padding-top: 60px;
}

.Alleinstellungsmerkmale p {
  line-height: 35px;
  font-family: 'Open Sans';
  margin: 0 auto;
  width: 850px;
  color: black;
  font-size: 20px;
  text-align: inherit;
}

.Was_bedeutet_Regional_für_Fresa p {
  line-height: 35px;
  font-family: 'Open Sans';
  margin: 0 auto;
  width: 850px;
  height: 300px;
  color: black;
  font-size: 20px;
  text-align: inherit;
}

.overlay3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  top: 0;
}

.WarumBio_image {
  font-size: 25px;
  margin-top: .0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-image: url("./Pics/warumbio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 650px;
  background-position: center;
  position: relative;
}

.warumBio {
  line-height: 35px;
  font-family: 'Open Sans';
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 3;
}

.Verbraucher {
  color: #CB7458;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-top: 60px;

}

.Verbraucher_image {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  max-width: 400px;
  display: block;
  height: 400px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 22%;
}

.Wer_nutzt_Fresa {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
}

.Vertrauen {
  color: #CB7458;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  padding-top: -40px;
  margin-bottom: 80px;
}

.VertrauenText {
  line-height: 35px;
  font-family: 'Open Sans';
  color: WH;
  font-size: 20px;
  text-align: inherit;
}

.Fresa_Design {
  color: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  padding-top: 60px;
}

.FresaDesign_image {
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 50px;
  background-image: url("./Pics/brainstorming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: auto;
  background-position: center;
  position: relative;
}

.overlay4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.Was_macht_Fresa {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 60px;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 3;
}

.FresaBestandteile {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  padding-top: 70px;
  margin-right: 0%;
  margin-left: 0%;
}


.FresaKonzept_image {
  font-size: 25px;
  background-image: url("./Pics/mal.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 12%;
  margin-top: 5%;
  padding: 0px 0px 0px 0px;
}

.Fresa-Konzept {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 350px;
  margin-left: 80px;
  margin-top: 0px;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 20px;
}

.Kapitelpunkte {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 245px;
  margin-top: 80px;
}

.FresaMikrodepot {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 500px;
  margin-top: -70px;
}

.FresaMikrodepot_image {
  font-size: 25px;
  background-image: url("./Pics/FresaMikrodepot.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
  background-position: center;
  position: relative;
  float: left;
  margin-left: 12%;
  margin-top: -5%;
  padding: 0px 0px 0px 0px;
}

.Fresa-Mikrodepot {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 310px;
  margin-top: 0px;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 20px;
}

.Fresa-Vermarktungsprinzip {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
  margin-top: 5px;
  margin-left: -130px;
  margin-bottom: 5px;

}

.Vermarktungsprinzip {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 122px;
  margin-top: -40px;
}

.Fresa-KrummesGemüse {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;

}

.KrummesGemüse {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 245px;
  margin-top: -90px;
}

.Fresa-WasGibtEsInDerRegion {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;

}

.WasGibtEsInDerRegion {
  font-family: 'Open Sans';
  font-size: 40px;
  color: #CB7458;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 245px;
  margin-top: -90px;
}


.Tine {
  font-size: 65px;
  font-family: 'Amatic SC';
  color: #CB7458;
  text-align: center;
  margin-bottom: 80px;
}

.tineText {
  line-height: 35px;
  font-family: 'Open Sans';
  font-size: 20px;
  text-align: inherit;
  margin-bottom: -40px;
}

.Unsere_Materialien {
  color: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  padding-top: 60px;
}

.Materialstudie_image {
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 50px;
  background-image: url("./Pics/material.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: auto;
  background-position: center;
  position: relative;
}

.overlay5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.Materialien {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 60px;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 3;
}

.Material_image1 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  max-width: 400px;
  display: block;
  height: 300px;
  background-position: center;
  position: relative;
  float: left;
  margin-left: 15%;
  margin-top: 200px;
}

.Material_image2 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  max-width: 400px;
  display: block;
  height: 300px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 15%;
  margin-top: 200px;
}

.Pricing {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 550px;
  padding-top: -40px;
  margin-bottom: 0px;
}

.Pricing_image {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  display: block;
  height: 700px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 20%;
  margin-top: 80px;
}

.Technik {
  color: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  padding-top: 60px;
}

.Technik_image {
  font-size: 25px;
  margin-top: 1000px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 50px;
  background-image: url("./Pics/Technik.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: auto;
  background-position: center;
  position: relative;
}

.overlay6 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
}

.SoFunktionierts{
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 0px;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 3;
}

.WorksLike {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 150px;
  padding-top: -40px;
  margin-bottom: 0px;
}

.TechnikVideo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: 0px;
  margin-left: 0px;
}

.Looks_like {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  padding-top: -40px;
  margin-bottom: 80px;
}

.LooksLike {
  line-height: 35px;
  font-family: 'Open Sans';
  color: black;
  font-size: 20px;
  text-align: inherit;
}

.Lookslike_image1 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  display: block;
  height: 250px;
  background-position: center;
  position: relative;
  float: left;
  margin-left: 10%;
  margin-top: 100px;
}

.Lookslike_image2 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  display: block;
  height: 250px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 38%;
  margin-top: 100px;
}

.Lookslike_image3 {
  font-size: 25px;
  background-image: url("./Pics/VerbraucherMarkt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  display: block;
  height: 250px;
  background-position: center;
  position: relative;
  float: right;
  margin-right: 11%;
  margin-top: -250px;
}

.Team {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 550px;
  padding-top: -40px;
  margin-bottom: 80px;
}

.row {
    margin-top: -40px;
}

.Kontakt {
  line-height: 35px;
  font-family: 'Open Sans';
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 270px;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 9px;
  text-align: center;
  z-index: 3;
}

/*Führt zu einem Zeilenumbruch, sodass Name und Mail in verschiedenen Zeilen sind.*/

div {
  word-wrap: break-word;
}

/* macht die Teambilder in eine Reihe*/

.column {
  float: left;
  width: 22%;
  padding: 10px;
  align: center;
  margin-top: 70px;
}

/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.ZitateQuellen {
  color: #9BA63C;
  position: relative;
  z-index: 2;
  margin-top: 200px;
  padding-top: 0px;
  margin-bottom: 80px;
}

.Zitate-Quellen {
  line-break: strict;
  line-height: 25px;
  font-family: 'Open Sans';
  color: black;
  font-size: 15px;
  text-align: inherit;
  margin-left: 245px;
  margin-right: 300px;
  margin-top: -20px;

}
